<!DOCTYPE html>
<html lang="en">
  {% include 'navbar.html' %}
  <body class="bg-gray-100">
    <div class="container mx-auto p-8">
      <h1 class="text-4xl font-bold text-center text-gray-900 mb-10">
        Published Lists
      </h1>
      <!-- Search Bar -->
      <div class="flex justify-end my-4">
        <div class="flex items-center space-x-2">
          <label for="searchInput" class="font-semibold text-gray-700"
            >Search for user:</label
          >
          <input
            type="text"
            id="searchInput"
            onkeyup="searchUsers()"
            placeholder="Enter username..."
            class="form-input mt-1 block w-full md:w-64 border-2 border-gray-300 bg-white h-10 px-5 rounded-lg text-sm focus:border-blue-500"
          />
        </div>
      </div>

      <!-- Existing HTML for listing users -->

      {% for user in published_users %}
      <div class="mb-8 user-section">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-2xl font-bold text-gray-800">
            {{ user.username }}'s Activities
          </h2>
          <button
            onclick="location.href='/download_user_activities/{{ user.id }}'"
            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300"
          >
            Download TTL File
          </button>
        </div>
        <div class="bg-white shadow-md rounded-lg">
          {% for wrapped_activity in user.activities %}
          <div class="p-4 border-b border-gray-200">
            <h3 class="text-md font-semibold text-gray-700">
              {{ wrapped_activity.activity_name | replace('_', ' ') | title }}
            </h3>
            <ul class="list-disc pl-5 mt-2">
              {% for criterion in wrapped_activity.user_activity.criteria %}
              <li class="text-gray-600">
                {{ criterion.criteria_description }} -
                <span
                  class="{{ 'text-red-500' if criterion.compliance_status == 'Not Compliant' else ('text-yellow-500' if criterion.compliance_status == 'In Progress' else 'text-green-500') }}"
                >
                  {{ criterion.compliance_status }}
                </span>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <div class="text-center py-5 text-gray-700">No activities found</div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>

  <script>
    function searchUsers() {
      var input, filter, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      users = document.getElementsByClassName("user-section");

      for (i = 0; i < users.length; i++) {
        txtValue = users[i].textContent || users[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          users[i].style.display = "";
        } else {
          users[i].style.display = "none";
        }
      }
    }
  </script>
</html>
