<!DOCTYPE html>
<html lang="en">
  {% include 'navbar.html' %}

  <body class="bg-gray-100">
    <div class="flex items-center justify-center h-screen">
      <div class="text-center">
        <h1 class="text-6xl font-bold mb-6">Sustainability Reporting</h1>
        <p class="mb-4 texy-justify">
          Welcome to our sustainable reporting platform, crafted in accordance
          with the EU taxonomy. Navigate through the four pages: the
          introduction home page, the interactive criteria finder, the
          code-checking page, and the ontology insights. This collaborative
          effort by Robert, Amir, Romke, Rhea, and Irem is based on Semmtech's
          information, integrating an ontology for structured data analysis. For
          inquiries, contact us at (email address).
        </p>
        <a
          href="/describe-activity"
          class="bg-white mx-2 text-black hover:bg-black hover:text-white py-2 px-4 rounded transition duration-300"
          >Get Started</a
        >
      </div>
    </div>
  </body>
</html>
